@import 'nib'

.hero-unit
  margin-top: 20px
  &:after
    content: ""
    clear: both
    display: table
h1
  text-shadow: 1px 1px 1px #fff

.help-inline
  display: none

.control-group
  margin-bottom: 23px
  &.error
    .icon-hand-right
      display: block
  &.error.success
    .icon-hand-right
      display: none
    .icon-thumbs-up
      display: block

.controls
  position: relative

.form-actions
  padding-left: 3px

label.error
  color: #B94A48
  position: absolute
  top: 28px
  font-weight: normal
  font-size: 10px

label
  font-weight: bold
  text-shadow: 1px 1px 1px #fff
  small
    font-weight: normal
    color: #999

.icon-thumbs-up, .icon-hand-right
  position: absolute
  left: -20px
  top: 7px
  display: none


#prints
  list-style: none
  margin-left: 0
  &:after
    content: ""
    clear: both
    display: table
  li
    float: left
    background-size: 50px
    background-position: 50%
    background-repeat: no-repeat
    width: 60px
    height: 60px
    border-radius(5px)
    cursor: pointer
    &:hover
      background-color: darken(#fff, 2)
    &:active
      background-color: #fff
    &.selected
      background-color: darken(#fff, 10)

.print-style1
  background-image: url('images/penguin.png')
.print-style2
  background-image: url('images/skull.png')
.print-style3
  background-image: url('images/rec.png')
.print-style4
  background-image: url('images/headphones.png')

.goldenrod
  color: goldenrod
.red
  color: red
.green
  color: green
.pink
  color: pink

#t-container
  border: 10px solid #fff
  border-radius(10px)
  height: 380px
  background-image: url('images/tee-shirt-skeleton.png')
  background-position: 50%
  background-repeat: no-repeat
  margin: 0 5% 2% 0
  position: relative

  div
    background-repeat: no-repeat
    background-position: 51% 55%
    background-size: 100px
    height: 100%
    width: 100%

  strong
    color: white
    background: gold
    width: 30px
    height: 30px
    font-size: 20px
    border-radius: 20px
    margin-top: 10px
    top: 0px
    position: absolute
    right: 10px
    text-transform: capitalize
    display: inline-block
    text-align: center
    line-height: 30px
    display: none

.marquee
  -webkit-marquee-direction: top
  -webkit-marquee-increment: large
  -webkit-marquee-repetition: 10
  -webkit-marquee-speed: slow
  -webkit-marquee-style: scroll
  white-space: nowrap
  overflow: hidden
  overflow-x: -webkit-marquee

@media (max-width: 767px)
  select, input, button
    width: 100%!important
  #intro
    p
      font-size: 14px
    h1
      font-size: 40px
  .hero-unit
    padding: 20px
  #prints li
    width: 55px
  .form-actions
    padding-left: 0
    padding-right: 0



